/* Common styles for all screen sizes */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    .main-container {
        padding: 10px;
    }
    
    .file-directory {
        flex-direction: column;
    }
    
    .directory-item {
        width: calc(100% - 42px); /* Two items per row with some margin */
        margin: 10px;
    }
}

/* Styles for larger screens */
@media (min-width: 769px) {
    .file-directory {
        flex-wrap: wrap;
    }

    .directory-item {
        width: calc(50% - 42px); /* Two items per row with some margin */
        margin: 10px;
        float: left;
    }

    .divider {
        width: 100%;
    }
}

/* Divider styles */
.divider {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    float: left;
}

.divider h2 {
    margin: 0;
    margin: 4px 0px 4px 20px;
    padding: 0;
    font-weight: bold;
    float: left;
}

.sub-divider {
    width: 100%;
    margin-bottom: -8px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dddddde7;
    float: left;
}

.sub-divider h4 {
    margin: 0;
    margin: 4px 0px 4px 20px;
    padding: 0;
    font-weight: bold;
    float: left;
    color:rgba(0, 0, 0, 0.4)
}

/* Directory item styles */
.directory-item {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.directory-item p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    float: left;
    color: #333;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #d3940cd7;
}

.file-icon {
    font-size: 24px;
    margin-right: 10px;
}

.download-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.view-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    padding: 8px 16px;
    background-color: #4ca3af;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-link:hover {
    background-color: #45a049;
}
